# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space

# Xml files

# IDE0049: Simplify Names
dotnet_style_predefined_type_for_locals_parameters_members =false:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
csharp_style_var_elsewhere=true:suggestion

# IDE0007: Use implicit type
dotnet_diagnostic.IDE0007.severity = suggestion
csharp_prefer_simple_using_statement=true:silent

[*.xml]
indent_size = 2
